*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.con{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 300px;
    gap: 10px;
    padding-bottom: 10px;
}



.hold-img{
    width: 100%;
    height: 200px;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.box-text{
    text-align: center;
}

@media (max-width: 1024px) {
    .con {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 300px;
    }
    .hold-img{
        width: 100%;
        height: 200px;
    }
}

@media (max-width: 500px) {
    .con {
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: 400px;
    }
    .hold-img{
        width: 100%;
        height: 300px;
    }
}
